

     :root {
          /* --white: #6f6b7d; */
          --blue: 115, 103, 240;
          --grey: 168, 170, 174;
          --green: 40, 199, 111;
          --Brown: 0, 207, 232;
          --orange: 255, 159, 67;
          --red:234, 84, 85;
          
          
          --theme-color: var(--blue);
        }
   
   
  
   html, body {
     margin: 0;

   }
   
@media (max-width: 450px) {
     .card-body {
padding: 10px !important;

     }   
}
.component-stations{
     border-radius: 18px;
     background-clip: padding-box;
 
}


 .component-progress{
     text-align: center;
     width: 90%;
     margin: auto;
 }
 .component-progress .stake {
     width: 60px;
     height: 48px;
     margin: 10% auto;
     display: inline-block;
     position: relative;
     margin: 0;
     border-radius: 50% / 27%;
     border: 1px solid #dbdade;
     top: 18px;
     background-color: #fff;
 }
 .stake:before {
     content: '';
    display: inline-block;
    width: 59px;
    height: 25px;
    border-radius: 100% / 100%;
    position: absolute;
    top: -1px;
    z-index: 2;
    border: 1px solid #dbdade;
    right: 0px;
    left: 0px;
     }
.component-progress .progress {
     width: 90%;
     margin: auto;
     height: 90px;
     border: 1px solid #dbdade;
     display: flex;
     align-items: end;
     background-color: #fff;
     position: relative;
  overflow: hidden;

}

 .bg-yellowe{
  background-color: yellow !important;
 }  
 .progress-bar.bg-danger{
  background-color:#EA5455!important;
 }  


.span-i img{
  width: 40px;
}
.compoent-color button{
  padding: 1px;
}
.apexcharts-legend-text{
font-size: 18px !important;
}
.text-title-hadeer{
     font-weight: 600;
     font-size: 28px;
    

}
.text-tilte-b span{
  border-bottom:4px solid rgb(var(--theme-color))!important;
}
#template-customizer .template-customizer-open-btn {
     background-color:rgb(var(--theme-color))!important;
}
.compoent-color{
    
     top:240px;
     z-index: 10000;
}
[dir=rtl] .compoent-color{
     right: auto;
     left: 0;
   
}
[dir=ltr] .compoent-color{
     right: 0;
     left: auto;
   
}.compoent-color .dropdown-menu{
     position: relative;
     -webkit-transition-delay: 0.1s;
    -o-transition-delay: 0.1s;
    transition-delay: 0.1s;
}
.example-section {
     background-color: #fff;
     backdrop-filter: blur(3px);
     border: 1px solid rgba(255, 255, 255, 0.1);
     border-radius: 0.3rem;
     display: flex;
     align-items: center;
     justify-content: space-around;
     gap: 0.5rem;
     padding: 1rem;
 }
#theme-picker-section > input {
     height: 1.8rem;
     width: 1.8rem;
     margin: 0px;
     outline: none;
     position: relative;
     cursor: pointer;
   }
   
   #theme-picker-section > input:before,
   #theme-picker-section > input:after {
     content: "";
     position: absolute;
     left: 50%;
     top: 50%;
     transform: translate(-50%, -50%);
     border-radius: 100%;
     z-index: 2;
   }
   
   #theme-picker-section > input:after {
     height: 104%;
     width: 104%;
   }
   
   #theme-picker-section > input:before {
     display: none;
     height: 120%;
     width: 120%;
     border: 0.2rem solid rgba(41, 41, 41, 0.5);
   }
   
   #theme-picker-section > input:not(:checked):hover:before,
   #theme-picker-section > input:not(:checked):active:before {
     display: block;
     border-color: rgba(41, 41, 41, 0.5);
   }
   
   #theme-picker-section > input:checked:before {
     display: block;
   }
   
  
   
   #theme-picker-section > input[value="red"]:after {
     background-color: rgb(var(--red));
   }
   
   #theme-picker-section > input[value="orange"]:after {
     background-color: rgb(var(--orange));
   }
   
   #theme-picker-section > input[value="Brown"]:after {
     background-color: rgb(var(--Brown));
   }
   
   #theme-picker-section > input[value="green"]:after {
     background-color: rgb(var(--green));
   }
   
   #theme-picker-section > input[value="blue"]:after {
     background-color: rgb(var(--blue));
   }
   
   #theme-picker-section > input[value="grey"]:after {
     background-color: rgb(var(--grey));
   }
   
   .component-earning .nav-tabs .nav-link.active{
    background-color: transparent !important;
      border:1px solid rgb(var(--theme-color))!important;

   }
   .component-earning .nav-tabs .nav-link{
    border: 1px dashed #dbdade
     !important;
   }
   .component-earning .nav-tabs.widget-nav-tabs .nav-link.active .badge {
    background-color: rgba(115, 103, 240, 0.08) !important;
    color: rgb(var(--theme-color))!important;
}
.btn-primary {
  background-color:rgb(var(--theme-color))!important;
  border: rgb(var(--theme-color))!important;
}
.btn-label-secondary{
  color: rgb(var(--theme-color))!important;
}

.form-control:focus, .form-select:focus {
  border-color:rgb(var(--theme-color))!important;
}
.btn-primary:hover {
  background-color:rgb(var(--theme-color),0.5)!important;
}
.dropdown-menu-footer a{
  color: rgb(var(--theme-color))!important;
}
.component-mdecit{
  border: 2px dashed #cfcfcf;
}
.navbar .list-group-item:hover h6{
  color: rgb(var(--theme-color))!important;
}
.card-stetion img{
  border: 2px solid rgb(var(--theme-color))!important;
  border-style: inset;
  box-shadow: 10px 10px 5px rgb(var(--theme-color),0.5) inset;
}
.start-form{
  color: #EA5455;
  margin: 0px 5px;
  font-size: 18px;
}
.content-footer a{
  color: rgb(var(--theme-color))!important;
}
.img-tabel{
  width: 80px;
  height: 80px;
  border: 1px solid #5b5a5a;
  border-radius: 50%;
}
.print{
  box-shadow: 0px 2px 6px #dbdade inset;
  padding: 5px 20px;
  border-radius: 6px;
  font-size: 18px;
  color: #5b5a5a;
}
.print:hover{
  color: rgb(var(--theme-color))!important;
}


@media (max-width:768px) {
  .apexcharts-legend{
    left: auto;
    bottom: 0px !important;
    right:0px !important;
    top:0px !important;
  }
  .modal {
 
    --bs-modal-padding: 0.75rem !important;
}
.text-title-hadeer {
  font-size: 18px;
}
}
/**rating**/
.rating > label {
  color: #90a0a3bd;

}
.rating > label:before {
  margin: 5px;
  font-size: 2em;
  font-family: FontAwesome;
  content: "\f005";
  display: inline-block;
}

.rating > input {
  display: none;
}

.rating > input:checked ~ label,
.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
  color: #F79426;
}

.rating > input:checked + label:hover,
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label,
.rating > input:checked ~ label:hover ~ label {
  color: #FECE31;
}
.radio
{
    display: none;
}
.emoji
{
    font-size: 40px;
    padding: 5px 5px;
    cursor: pointer;
    display: inline-block;
    border-radius: 16px;
}
#mood-1:checked ~ .emoji-1,
#mood-2:checked ~ .emoji-2,
#mood-3:checked ~ .emoji-3,
#mood-4:checked ~ .emoji-4,
#mood-5:checked ~ .emoji-5
{
    background-color: #4CAF50;
}
.form-check-emoji{
  text-align: center;
}
div.dataTables_wrapper .add-new{
display: none !important;
}

    option:hover {
      background-color: lime !important;
      box-shadow: 0 0 10px 100px #4ddc3b inset !important;
    }

select:focus>option:checked

{
 
  background-color:rgb(var(--theme-color))!important;
  /* selected */
}
.table-light {
  --bs-table-bg: rgb(var(--theme-color))!important;
color: #dbdade !important;

}
.table:not(.table-dark) thead:not(.table-dark) th {
  color: #fff !important;
}
.table-tfoot tr .one-toot{
  background-color:rgb(var(--theme-color))!important;
  color: #fff !important;
}

.form-label {
  font-size: 0.85rem   !important;
  
}
.btn-upload-input {
  position: relative;
overflow: hidden;
margin: 0px;    
  color: #333;
  background-color: #fff;
  border-color: #ccc;
  padding: 8px 16px 7px;   
}
.btn-upload-input input[type=file] {
position: absolute;
top: 0;
right: 0;
margin: 0;
padding: 0;
font-size: 20px;
cursor: pointer;
opacity: 0;
filter: alpha(opacity=0);
}
.btn-upload-input-title {
  margin-left:2px;
}

.btn-clear {
color: #333;
border-color: #ccc;
background-color: transparent;
padding: 8px 16px 7px;
margin: 0;
&:focus,	
&:hover,
&:active {
  background-color: transparent;
  border-color: #ccc;
  color: #333;
}
}
@media (min-width:990px) {
  .title-m{
    width: 37%;
  }
}
.accordion-button{
  background-color: rgb(var(--theme-color))!important;
  color: #fff !important;
  font-size: 18px !important;
}
.accordion-header + .accordion-collapse .accordion-body {
  padding-top: 0;
 
  box-shadow: 0px 2px 6px #dbdade inset;
}
.buttom-fixed{
  background-color: #fff;
 
  bottom: 10px;
  z-index: 10000;
  border-radius: 16px;
  
}
@media (min-width:900px) {
  .buttom-fixed{
position: fixed;
box-shadow: 0 -0.125rem 0.25rem rgba(165, 163, 174, 0.3);
  }
}
[dir="rtl"] .buttom-fixed {
  right: auto;
  left: 0;
}
[dir="ltr"] .buttom-fixed {
  left:auto;
  right: 0;
}
.alert{
  display: flex;
  top: 20%;
  position: absolute !important;
  z-index: 10000;
 
}
[dir="rtl"] .alert{
  left:40%
}
[dir="ltr"] .alert{
  right:40%
}

.input-groupe{
  display: grid;
  grid-template-columns: 0.25fr 1fr;
  position: relative;
  
    flex-wrap: wrap;
    align-items: stretch;
}
[dir="ltr"] .input-groupe button{
  border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
[dir="rtl"] .input-groupe button{
  border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.input-groupe select{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

[dir="rtl"] .content-admin.active {
  margin-top: 45px;
}
[dir="rtl"] .content-admin {
  margin-top: 10px;
}
.open>.dropdown-menu {
  display: block !important;
}
.k-treeview-leaf:hover, .k-treeview-leaf.k-hover {
  
  background-color: rgb(var(--theme-color))!important;
  color: #fff !important;
}
.alert-primary{
  background-color: rgb(var(--theme-color))!important;
  color: #fff !important;
}
.w-30 {
  width: 30% !important;
}
.tabel-all .table th {
  padding-right: 5px !important;
  padding-left: 5px !important;
  font-weight: bold;
  background-color: rgb(var(--theme-color))!important;
  color: #fff !important;
}
#gridContainer {
  height: 550px;
}

.dx-viewport .options {
  padding: 20px;
  margin-top: 20px;
  background-color: rgba(191, 191, 191, 0.15);
}

.dx-viewport .caption {
  font-size: 18px;
  font-weight: 500;
}

.dx-viewport .option {
  margin-top: 10px;
}

.dx-viewport .option > span {
  margin-right: 10px;
}

.dx-viewport .option > .dx-selectbox {
  display: inline-block;
  vertical-align: middle;
}
[dir="ltr"] .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td{
  text-align: left !important;
  border: 1px solid #919191;
}
[dir="rtl"] .dx-datagrid .dx-datagrid-content .dx-datagrid-table .dx-row > td{
  text-align: right !important;
  border: 1px solid #919191;
}
[dir="rtl"] .dx-datagrid .dx-editor-with-menu .dx-texteditor .dx-texteditor-input{
  padding-left: 0px;
  padding-right: 40px !important;
}
[dir="rtl"] .dx-datagrid-filter-row .dx-menu {
right: 0px !important;
left: unset;
}
[dir="rtl"] .dx-checkbox-checked .dx-checkbox-icon::before {
left:0px
}
.dx-pager .dx-pages .dx-selection,.dx-checkbox-checked .dx-checkbox-icon ,.dx-header-row {
  background-color: rgb(var(--theme-color))!important;
color: #fff;
}
.dx-datagrid .dx-header-filter-empty {
  color: rgb(255 255 255) !important;
}
[dir="rtl"] .dx-searchbox.dx-editor-filled .dx-texteditor-input{
padding-right: 40px;
}
.card-hover-border-gray:hover{
border-bottom: 2px solid var(--theme-color);
}
.avatar-content{
  color: rgb(var(--theme-color))!important;
}
.accordion-powers .accordion-button::after {

display: none;
}
.user-seting{
  cursor: pointer;
}
.component-form .accordion-header{
  background-color: rgb(var(--theme-color))!important;
  color: #fff;
  border-radius: 8px;
}
.img-porfoil {
  position: relative;
}
.avatar-edit {
  position: absolute;
  z-index: 700;
  bottom: 2px;
}

.avatar-edit {
  left: 54%;
}
.avatar-edit input {
  display: none;
}
.avatar-preview {
  width: 130px;
  height: 130px;
  position: relative;
  border: 6px solid var(--theme-color);
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 10%);
  margin: 0 auto;

}
.avatar-preview > div {
  width: 100%;
  height: 100%;
  /* border-radius: 100%; */
  background-size: cover;
  background-repeat: no-repeat;
}
.avatar-edit input + label {
  display: flex;
  width: 34px;
  height: 34px;
  margin-bottom: 0;
  border-radius: 100%;
  background: #FFFFFF;
  border: 1px solid transparent;
  box-shadow: 0px 2px 4px 0px rgb(0 0 0 / 12%);
  cursor: pointer;
  font-weight: normal;
  transition: all 0.2s ease-in-out;
  align-items: center;
  justify-content: center;
}
.avatar-edit input + label:after {
  content: "";
  font-family: 'FontAwesome';
  color: #000000;
  position: absolute;
  top: 7px;
  left: 0;
  right: 0;
  text-align: center;
  margin: auto;
  background-image: url(../img/avatars/pen.png);
}
.bg-danger{
  background-color: #EA5455!important;
}

.upload-area {

display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
border: 2px dashed #ccc;
border-radius: 5px;
cursor: pointer;
margin-bottom: 10px;
}

.upload-area i {
font-size: 2em;
color: #ccc;
}

.upload-area p {
font-size: 1em;
color: #ccc;
margin-top: 10px;
}

.upload-area:hover {
border-color: #007bff;
}

.file-list {
list-style: none;
padding: 0;
}

.file-list li {
display: flex;
justify-content: space-between;
align-items: center;
padding: 10px;
margin-bottom: 5px;
background-color: #f2f2f2;
border-radius: 5px;
}

.file-name {
font-weight: bold;
}

.file-size {
font-size: 0.8em;
color: #666;
}

.remove-button {
background-color: #dc3545;
color: #fff;
padding: 5px 10px;
border: none;
border-radius: 5px;
cursor: pointer;
}
.ul-create li{
  list-style: none;
}
.ul-create li a{
  color: #5b5a5a;
  font-size: 18px;
}
.ul-create li a:hover{
  color: #000000;
}
.ul-create li a i{
  margin-left: 10px;
  font-size: 16px;
}
.btn-secondary{
  background-color: #fff !important;
  color:var(--theme-color) !important ;
  border-color:var(--theme-color) !important ;
  font-size: 18px;
}
.item-balance{
  color: #000000;
  font-weight: bold;
}
.img-nav{
  width: 30px;

}
.img-nav-hader{
  width: 25px;
}

.bg-menu-theme .menu-sub > .menu-item > .menu-link:before {
content: "" !important;
}
[dir=rtl] .menu-horizontal .menu-sub .menu-link {
  padding-right: 0.5rem !important;
}
[dir=ltr] .menu-horizontal .menu-sub .menu-link {
  padding-left: 0.5rem !important;
}
@media (min-width: 992px) and  (max-width: 1024px){
  .content-admin.pt-lg-5 {
      padding-top: 1.50rem !important;
  }
}
@media (max-width: 550px){
  .content-admin.pt-lg-5 {
      padding-top: 2.55rem !important;
  }
}
@media (max-width:768px) {
  .alert{
    top: 10%;
  }
  .button-totel{
    width: 100% !important;
  }
}
.user-img{
  width: 100px;
  height: 100px;
}
.overflow-x-auto{
  overflow: auto;
}
#repeat-options{

    position: absolute;
    padding: 18px 10px;
  
    background: #fff;
    box-shadow: 0 0.25rem 1rem rgba(165, 163, 174, 0.45);
    background-clip: padding-box;
    border-color: #dbdade;
    z-index: 1000;
    border-radius: 8px;
}
#credit-account-section-Debtor .k-picker-solid,
#credit-account-section  .select2-container--default .select2-selection,
#filed-of .select2-container--default .select2-selection,
#filed-to .select2-container--default .select2-selection,#Bank-balance input,
#input-Customers .select2-container--default .select2-selection,#input-Client .k-picker-solid,
#input-value .k-picker-solid,#Supplier-account .k-picker-solid,
#name-Supplier .select2-container--default .select2-selection,#Transfers-between input
{
  border-color: #EA5455;
}
#Journal-entry,#Journal-entry-alsarf,#Journal-entry-Exchange,#Journal-entry-Deposits,
#Journal-entry-Payments,#Journal-entry-Revenue,#Journal-entry-expense
{
  margin-top: 8px;
  box-shadow: 0px 2px 10px #66666669;
  border-radius: 6px;
 
}
.dz-message {
  margin: 3.25rem 0 1rem;
  font-weight: 500;
  text-align: center;
}
.dz-message:before {

  top: 0.25rem;

}
.dz-message {
  font-size: 1.25rem;
}